@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
}

header {
    margin-top: 20px;
}

#form {
    margin-top: 50px;
}

input {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid darkgoldenrod;
    outline: none;
    margin-right: 15px;
    font-weight: 400;
}

input:focus {
    background-color: darkgoldenrod;
    border-radius: 10px;
}

input::placeholder {
    color: lightsteelblue;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

#btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#btn {
    padding: 10px;
    font-weight: 600;
    border: 2px solid lightcoral;
    border-radius: 5px;
    color: darkolivegreen;
    background-color: transparent;
}

#btn:hover {
    background-color: lightcoral;
}